{% extends 'base.html' %}

{% load static %}


{% block title %}Validador{% endblock %}

{% block content %}

<body class="custom-body">
  <!-- Botão de voltar -->
  <a href="{% url 'checkin' %}" class="btn btn-light position-absolute top-0 start-0 m-4">
    <i id="btn-voltar" class="bi bi-arrow-left-circle"></i> Voltar
  </a>

  <!-- Card principal -->
  <div class="custom-card card shadow-sm p-4 w-100">
    <div class="card-body">
      <h1 class="card-title fs-4 mb-4 text-center">
        <i class="bi bi-person-check"></i> Validação de Convidados
      </h1>

      <!-- Campo de validação -->
      <form method="GET" action="{% url 'validar' %}">
        <div class="mb-3">
          <input type="text" name="codigo" id="codigoInput" class="form-control form-control-lg text-center"
            placeholder="000.000.000-00" autofocus required inputmode="numeric" maxlength="14" required />
        </div>
        <small class="form-text text-muted text-center d-block mb-3">
          Digite o CPF ou o código do convidado para validar sua entrada.
        </small>
        <button type="submit" class="btn btn-success btn-lg w-100">
          <i class="bi bi-check-circle"></i> Validar
        </button>
      </form>

      <!-- Área onde o QR Code será exibido -->
      <div class="mt-4 text-center" id="qrcode"></div>
    </div>
  </div>
</body>

</html>
{% endblock %}
