{% extends 'base.html' %}

{% load static %}

{% block title %}Aprovado{% endblock %}

{% block content %}

<body class="custom-body">
  <a href="{% url 'checkin' %}" class="btn btn-light position-absolute top-0 start-0 m-4">
    <i class="bi bi-arrow-bar-left"></i> Voltar
  </a>

  <div class="aprovado-card">
    <h1><i class="bi bi-check-circle-fill text-success"></i> Acesso Liberado</h1>
    <p class="fs-5">Seja muito bem-vindo(a)!</p>
    <hr />
    <p><strong><i class="bi bi-person-fill"></i> Nome:</strong> {{ cliente.nome }}</p>
    <p><strong><i class="bi bi-credit-card-2-front-fill"></i> CPF:</strong> {{ cliente.cpf }}</p>
    <p><strong><i class="bi bi-building"></i> Empresa:</strong> {{ cliente.razsoc }}</p>
    <p><strong><i class="bi bi-calendar-check-fill"></i> Entrada:</strong> {{ cliente.data_hora|date:"d/m/Y H:i" }}</p>
  </div>
</body>

</html>
{% endblock %}