{% extends 'base.html' %}

{% load static %}


{% block title %}Gestão{% endblock %}

{% block content %}

  <body class="custom-body">
    <!-- Botão de Logout -->
    <form action="{% url 'logout' %}" method="post" class="d-inline">
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-light position-absolute top-0 start-0 m-4"
      >
        <i class="bi bi-box-arrow-left"></i> Logout
      </button>
    </form>

    <!-- Cartão de Gestão -->
    <div class="custom-card card shadow-sm p-4 w-100">
      <div class="card-body">
        <h1 class="card-title fs-4 mb-4 text-center">
          <i class="bi bi-gear"></i> Gestão | Festão AgRoss
        </h1>

        <p class="form-text text-muted">
          Primeiro, cadastre o convidado no sistema. Em seguida, gere o QR Code
          que será salvo na galeria do celular. No dia do evento, o convidado
          deverá apresentar o QR Code para validação.
        </p>

        <!-- Botão para cadastrar convidados -->
        <div class="mb-3">
          <label for="cadastro" class="icon-label">
            <i class="bi bi-person-plus"></i> Cadastrar Convidado
          </label>
          <a href="{% url 'cadastro' %}" class="btn btn-success btn-lg-mobile">
            Cadastrar Convidado
          </a>

          <small class="form-text text-muted">
            Você possui direito a <strong>{{ convites }}</strong> convite(s).
          </small>
        </div>

        <!-- Botão para gerar QR Codes -->
        <div class="mb-3">
          <label for="gerador" class="icon-label">
            <i class="bi bi-qr-code"></i> Gerar QR Code
          </label>
          <a href="{% url 'gerador' %}" class="btn btn-success btn-lg-mobile">
            Gerar QR Code
          </a>
          <small class="form-text text-muted">
            Gere QR Codes para convidados cadastrados, usados na validação do
            evento.
          </small>
        </div>

        <!-- Informação de contato -->
        <p class="form-text text-muted mt-4">
          Em caso de dúvida, entre em contato com
          <a href="mailto:marketing@agross.com.br">marketing@agross.com.br</a>.
        </p>
      </div>
    </div>
  </body>
</html>
{% endblock %}