{% extends 'base.html' %}

{% load static %}


{% block title %}Cadastrar Senha{% endblock %}

{% block content %}
  <body class="custom-body">
    <div class="container d-flex justify-content-center align-items-center">
      <div class="custom-card">
        <div class="card-title">
          <i class="fas fa-lock"></i> Cadastrar Senha
        </div>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="cnpj" class="icon-label">
              <i class="fas fa-id-card"></i> CNPJ
            </label>
            <input
              type="text"
              name="cnpj"
              id="cnpj"
              class="form-control mobile-input"
              placeholder="Digite o CNPJ"
              required
              maxlength="14"
            />
          </div>

          <button type="submit" class="btn btn-lg-mobile btn-success">
            <i class="fas fa-envelope"></i> Enviar Email
          </button>

          {% if message %}
          <div class="alert alert-info mt-3">
            <i class="fas fa-info-circle"></i> {{ message }}
          </div>
          {% endif %}
        </form>

        <hr />
        <div class="text-center">
          <p class="form-text">Já tem uma conta?</p>
          <a
            href="{% url 'login' %}"
            class="btn btn-lg-mobile btn-outline-light"
          >
            <i class="fas fa-sign-in-alt"></i> Entrar
          </a>
        </div>
        <hr />
        <!-- Informação de contato -->
        <p class="form-text text-muted mt-4 text-center">
          Em caso de dúvida, entre em contato com
          <a href="mailto:marketing@agross.com.br">marketing@agross.com.br</a>.
        </p>
      </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
{% endblock %}